{% extends "base.html" %}
{% block navPage %}pod{% endblock %}
{% block title %} - Print on Demand{% endblock %}
{% block head %}
        <script>
            var cardTypes = {{ js_data['types']|tojson }}
            var cardClans = {{ js_data['clans']|tojson }}
            var cardDisciplines = {{ js_data['disciplines']|tojson }}
            var cards = {{ js_data['cards']|tojson }}
        </script>
        <script src="{{ url_for('static', filename='pod/pod_scripts.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='pod/pod_style.css') }}"/>

{% endblock %}

{% block content %}
<p class="white-text">Click on any card to open the product page on DTC.</p>

<p class="white-text"><em><small>This website is just a shortcut for reaching Vampire: The Eternal Struggle cards on <a style="color: red"
                                                                                           href="https://www.drivethrucards.com/"
                                                                                           target="_blank">DriveThruCards</a>.
    We do not sell anything so we are not responsible of any purchase you make.</small></em></p>


<div>
    <div class="card">
        <div class="card-body">
            <div id="filters">
                <b>Filters:</b>
                <div id="cardtype-filter" class="flex-container filter-div">
                    <div class="alert alert-danger" style="display:none" role="alert">You should select at least one of these filters to see any card.</div>
                    <div class="filter-buttons">
                        <button type="button" class="btn btn-outline-dark btn-sm" onclick="selectAll('#cardtype-filter')">All</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="deselectAll('#cardtype-filter')">None</button>
                    </div>
                </div>
                <div id="discipline-filter" class="flex-container filter-div">
                    <div class="alert alert-danger" style="display:none" role="alert">You should select at least one of these filters to see any card.</div>
                     <div class="filter-buttons">
                        <button type="button" class="btn btn-outline-dark btn-sm" onclick="selectAll('#discipline-filter')">All</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="deselectAll('#discipline-filter')">None</button>
                    </div>
                </div>
                <div id="clan-filter" class="flex-container filter-div">
                    <div class="alert alert-danger" style="display:none" role="alert">You should select at least one of these filters to see any card.</div>
                    <div class="filter-buttons">
                        <button type="button" class="btn btn-outline-dark btn-sm" onclick="selectAll('#clan-filter')">All</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="deselectAll('#clan-filter')">None</button>
                    </div>
                </div>
                <div id="sort-buttons">
                    <button type="button" class="btn btn-outline-dark" onclick="sortCardsByName()">Sort by name</button>
                    <button type="button" class="btn btn-outline-dark" onclick="sortCardsByReleaseDate()">Sort by publish date on PoD</button>
                    <button type="button" class="btn btn-outline-dark" onclick="sortCardsByCardType()">Sort by card type</button>
                    <button type="button" class="btn btn-outline-dark" onclick="sortCardsByFavorite()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 20 20">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
                        Sort by favorites first
                    </button>

                    <div id="open-tabs-gamepod" style="float: right; display: inline; margin-left: 0.25em;" >
                        <button type="button" class="btn btn-outline-danger" onclick="openAllFavoriteCards('gamepod')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 20 20">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        Open all favorite cards on Gamepod
                    </button>
                    <div id="open-tabs-dtc" style="float: right; display: inline; margin-left: 0.25em;" >
                        <button type="button" class="btn btn-outline-danger" onclick="openAllFavoriteCards('dtc')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 20 20">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        Open all favorite cards on DTC
                    </button>
                    </div>

                </div>
            </div>

            <div id="card-list" class="flex-container">
                <div class="alert alert-dark no-cards" style="display:none" role="alert">No cards found for that criteria.</div>
            </div>
        </div>
    </div>
</div>

<script>
    addFilters();
    addCards(cards);
    sortCardsByReleaseDate();
</script>
{% endblock %}
