{% extends "base.html" %}
{% block navPage %}pod{% endblock %}
{% block title %} - Print on Demand{% endblock %}
{% block head %}
        <script src="{{ url_for('static', filename='pod/data.js') }}"></script>
        <script src="{{ url_for('static', filename='pod/pod_scripts.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='pod/pod_style.css') }}"/>

{% endblock %}

{% block content %}
<p class="white-text">Click on any card to open the product page on DTC.</p>

<p class="white-text"><em><small>This website is just a shortcut for reaching Vampire: The Eternal Struggle cards on <a style="color: red"
                                                                                           href="https://www.drivethrucards.com/"
                                                                                           target="_blank">DriveThruCards</a>.
    We do not sell anything so we are not responsible of any purchase you make.</small></em></p>


<div>
    <div class="card">
        <div class="card-body">
            <div id="filters">
                <b>Filters:</b>
                <div id="cardtype-filter" class="flex-container filter-div">
                    <div class="alert alert-danger" style="display:none" role="alert">You should select at least one of these filters to see any card.</div>
                    <div class="filter-buttons">
                        <button type="button" class="btn btn-outline-dark btn-sm" onclick="selectAll('#cardtype-filter')">All</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="deselectAll('#cardtype-filter')">None</button>
                    </div>
                </div>
                <div id="discipline-filter" class="flex-container filter-div">
                    <div class="alert alert-danger" style="display:none" role="alert">You should select at least one of these filters to see any card.</div>
                     <div class="filter-buttons">
                        <button type="button" class="btn btn-outline-dark btn-sm" onclick="selectAll('#discipline-filter')">All</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="deselectAll('#discipline-filter')">None</button>
                    </div>
                </div>
                <div id="clan-filter" class="flex-container filter-div">
                    <div class="alert alert-danger" style="display:none" role="alert">You should select at least one of these filters to see any card.</div>
                    <div class="filter-buttons">
                        <button type="button" class="btn btn-outline-dark btn-sm" onclick="selectAll('#clan-filter')">All</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="deselectAll('#clan-filter')">None</button>
                    </div>
                </div>
                <div id="sort-buttons">
                    <button type="button" class="btn btn-outline-dark" onclick="sortCardsByName()">Sort by name</button>
                    <button type="button" class="btn btn-outline-dark" onclick="sortCardsByReleaseDate()">Sort by publish date on DTC</button>
                    <button type="button" class="btn btn-outline-dark" onclick="sortCardsByCardType()">Sort by card type</button>
                </div>
            </div>

            <div id="card-list" class="flex-container">
                <div class="alert alert-dark no-cards" style="display:none" role="alert">No cards found for that criteria.</div>
            </div>
        </div>
    </div>
</div>

<script>
    addFilters();
    addCards(cards);
</script>
{% endblock %}
