{% extends "base.html" %}
{% block navPage %}proxies{% endblock %}
{% block title %} - Proxy Generator{% endblock %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script src="{{ url_for('static', filename='proxy/proxy_scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='proxy/proxy_style.css') }}"/>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="column-content ccs">


        <select class="form-control basicAutoSelect card-input" autocomplete="off" name=cardselector"
                placeholder="Type card name..."></select>

        <div class="form-inline">
            <label for="line_color" class="col-form-label-sm">Cut line color: </label>
            <input class="color-picker" type="color" id="line_color" onchange="setCutLineColor(value)" value="#FFFFFF"/>
        </div>
        <div class="form-inline card-input">
            <label for="lackey" class="col-form-label-sm">Import Lackey deck</label>
            <input type="file" accept=".txt" onchange="loadCardsFromFile(value)" class="form-control-file"
                   id=lackey"/>
        </div>

        <button id="generate" type="button" onclick="generatePDF()" class="btn btn-primary btn-lg btn-block">Generate
            PDF
        </button>
        <button type="button" onclick="clearCardList()" class="btn btn-primary btn-lg btn-block">Clear list</button>
    </div>
    <div class="column-content ccl">
        <table class="table card-list" id="card-list">
            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Set</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        </td>
    </div>
</div>
<br><br><br><br><br>

<script>
			$('.basicAutoSelect').autoComplete(
			{
				minLength: 2,
				resolver: 'custom',
				events: {
					search: function (query, callback) {
						$.get("https://api.bloodlibrary.info/api/search/?name="+query)
						.done(function (results) {
							callback(
								results.slice(0,10).map(
								    function (card, i, arr) {
								        filtered_sets = card.publish_sets.filter(zet  => zet.image).sort(function (a,b) {return a.set_id - b.set_id}).reverse();
								        return {'value': card.id, 'text': card.alias, 'image': filtered_sets[0].image, 'sets':filtered_sets}
								})
							);
						});
					}
				}
			});
			$('.basicAutoSelect').autoComplete('show');
			$('.basicAutoSelect').on('autocomplete.select', function(event, item) {
				addCard(item.text, item.value, item.sets);
				$('.basicAutoSelect').autoComplete('clear');
			});

$("#line_color").val(cutLineColor)

</script>
{% endblock %}