.card-list {
		font-family: "Bookman Old Style";
		font-size: 130%;
		color: white;
}

.main-content {
  flex: 1;
  background: rgba(0,0,0,0.5);
}

.column-content {
	display: inline-block;
	margin: auto;
	vertical-align: top;
	padding: 20px;
}

.ccs {
	width: 35%;
}

.ccm {
	width: 45%;
}

.ccl {
	width: 55%;
}

.auspex-icon {
		width: 40px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 80%;
}

.card-input {
		margin-bottom: 30px;
}

.card-img {
    display: none;
	position: absolute;
	width: 300px;
}

.auspex:hover .card-img {
    display: inline-block;
}

